.back {
    font-family: Nunito, sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #222222;
    font-size: 1.8rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
    transition: all 0.3s;

    &:hover {
        background-color: #2222223b;
    }

    svg {
        height: 1rem;
        width: 1.6rem;
        transform: rotate(-90deg);
    }
}