.status {
    font-size: 1.2rem;
    color: #5C5C5C;

    &.paused {
        color: #FF8346;
    }
    &.stopped {
        color: #FE4848;
    }
    &.online {
        color: #1BDA9D;
    }
}